<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
         
        
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <div><h1> Makersbnb </h1></div>
        <div><h2> Listings near you </h2>
        <% @listings.each do |listing| %>
        <div>
        <h3><%= listing.name %></h3>
        <%= "#{listing.city}, #{listing.country}. Price: #{listing.ppn}" %>
        </div>
        <% end %>
        </div>

    </body>
</html>