<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Signup page</h1>
  <div>
  <label> Please enter your name:</label>
  <input type="text" name="name">
  </div>
  <br>
  <div>
  <label> Please choose a username:</label>
  <input type="text" name="username">
  </div>
  <br>
  <div>
  <label> Please enter your email:</label>
  <input type="text" name="email">
  </div>
  <br>
  <div>
  <label> Please choose a secure password:</label>
  <input type="text" name="password">
  </div>
  <input type="submit" value="Create account" />
</body>
</html>